.ProseMirror {
  outline: none;
  flex-grow: 1;
  overflow: hidden;
  padding: 3px;

  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  ul {
    li {
      display: flex;
      gap: 4px;
      &::before {
        content: '·';
        display: block;
        scale: 1.8;
      }
    }
  }
  ol {
    list-style-type: decimal;
    margin-left: 17px;
  }
  pre code {
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  ::selection {
    background-color: antiquewhite;
  }
}
