.ProseMirror {
  outline: none;
  flex-grow: 1;
  overflow: hidden;
  padding: 3px;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
}
